= simple_form_for [forgeos_core, :admin, user], :as => :user, :html => { :id => 'wrap', :autocomplete => 'off', "data-object_name" => user.class.model_name.singular } do |form|
  = render 'fields', :f => form
