:ruby
  view = index_view :user, forgeos_core, Forgeos::User, [
    { :bSearchable => false, :bSortable => false },
    { :sTitle => t(:name) },
    { :sTitle => t(:email) },
    { :sTitle => t(:activate) },
    { :sClass => 'actions-td', :bSearchable => false, :bSortable => false}
  ]
= view
