.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/imports/
test/dummy/test/fixtures/
test/dummy/db/migrate/
test/dummy/config/database.yml
test/dummy/log/searchd.test.pid
test/dummy/public/uploads/medium/
test/dummy/public/uploads/picture/*.*
test/dummy/public/uploads/tmp/
*.swp
*~
*.rbc
coverage
