#container.container
  .row
    #login-container.logout.span6.offset3
      .sign-out-message
        =t 'log.out.success'
      .buttons
        = link_to [forgeos_core, :admin, :login], :class => 'btn btn-large' do
          = i(:lock)
          =t 'go_back_admin'
        %br
        %br
        = link_to '/', :class => 'btn btn-large' do
          = i('eye-open')
          =t 'see_site'
