#container.container_16
  #spacer.grid_16
    &nbsp;
  .grid_3
    &nbsp;
  #login-container.grid_10
    .sign-in-message
      =I18n.t('get_forgotten_password').capitalize
    - form_tag :action => 'reset_admin_password' do
      = label_tag :email, I18n.t('email').capitalize
      %br
      = text_field_tag 'email', nil, :class => 'text'
      = submit_tag I18n.t('admin.reset_password.action').capitalize, :class => 'backgrounds submit-button'
  .grid_3
    &nbsp;
