#container.container_16
  #spacer.grid_16
    &nbsp;
  .grid_3
    &nbsp;
  #login-container.grid_10
    .sign-in-message
      =t 'get_forgotten_password'
    - form_tag :action => 'reset_admin_password' do
      = label_tag :email, t('email')
      %br
      = text_field_tag 'email', nil, :class => 'text'
      = submit_tag t('admin.reset_password.action'), :class => 'backgrounds submit-button'
  .grid_3
    &nbsp;
