#container.row-fluid
  #login-container.span8.push2
    .sign-in-message
      =t 'get_forgotten_password'
    - form_tag :action => 'reset_admin_password' do
      = label_tag :email, t('email')
      %br
      = text_field_tag 'email', nil, :class => 'text'
      = submit_tag t('admin.reset_password.action'), :class => 'backgrounds submit-button'
