%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  - %w(picture pdf video media doc).each do |file_type|
    - span = content_tag(:span, '', :class => "small-icons #{file_type}") + I18n.t(:other, :scope => [:media, file_type]).capitalize
    - if (file_type == @file_type.to_s) || (@media && file_type == @media.class.to_s.downcase)
      %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to span, '#content'
    - else
      %li.ui-state-default.ui-corner-top= link_to span, admin_attachments_path(:file_type => file_type)
