@charset "UTF-8"
@import forgeos_core/common
@import forgeos_core/colours
@import forgeos_core/notifications
@import forgeos_core/icons

body
  background-image: image_url("forgeos/admin/backgrounds/background.png")
  font-family: Arial, Helvetica, sans-serif
  margin: 0px
  padding: 0px

.small-icons
  background-image: image_url("forgeos/admin/small-icons-16-16-verti.png")
  background-repeat: no-repeat
  padding-left: 20px

.big-icons
  background-image: image_url("forgeos/admin/big-icons-24-24-verti.png")
  background-repeat: no-repeat
  padding-left: 28px

.borders
  background-image: image_url("forgeos/admin/borders-verti.png")
  background-repeat: no-repeat

.backgrounds
  background-image: image_url("forgeos/admin/backgrounds-verti.png") !important
  background-repeat: repeat-x

#login-container
  background-color: white
  +border-radius(4px)
  height: 275px
  padding-top: 30px

#spacer
  height: 100px

#login-container form
  margin-top: 20px
  padding: 0 25px
  color: gray
  font-size: 0.8em
  label
    font-weight: bold
  a
    color: gray
    text-decoration: underline
  .text
    margin: 5px 15px 10px 0
    width: 250px
    +border-radius(4px)
    border: 1px solid #b2b2b2
    height: 20px
    padding: 2px 5px

.sign-in-message, .sign-out-message
  color: white
  padding: 14px 0px 8px 40px
  font-size: 1.1em
  font-weight: bold

.sign-in-message
  background:
    color: #f7bd2e
    image: image_url("forgeos/admin/small-icons/cadna.png")
    position: 20px 17px
    repeat: no-repeat

.sign-out-message
  background-color: #8fcc65

.submit-button
  background:
    color: #0083c5
    image: image_url("forgeos/admin/backgrounds/background-right-sidebar.png") !important
    repeat: repeat-x
    position: center top
  +border-radius(4px)
  color: white
  border: 0
  padding: 10px 15px
  font-weight: bold
  margin-top: 15px
  font-size: 1.1em
  cursor: pointer

.logout
  height: 211px !important

.buttons
  text-align: center
  padding-top: 35px

.button
  +border-radius(4px)
  background-color: #eaebec
  background-position: 0 -10px
  border: 1px solid #bfbfbf
  display: block
  font-size: 0.8em
  padding: 8px 5px 5px
  color: #5f5f5f
  text-decoration: none
  margin-top: 15px
  font-weight: bold

.see
  background-position: 0 -1008px
  padding-left: 25px

