#content
  :background-color = !white
  width: 719px
  min-height: 600px
  height: auto !important
  height: 600px
  padding: 0px
  :border-left = 1px solid !contentHeaderBorder
  &.grid_16
    width: 100%
    border: 0
  .header
    position: relative
    padding-left: 20px
  .ui-resizable-handle.ui-resizable-w
    background-image: url(/images/admin/drag-and-drop.png)
    background-repeat: no-repeat
    width: 10px
    height: 40px
    background-position: center center
    cursor: move
    left: 2px
  h1
    :color = !orange
    :font
      :size 1.2em
      :weight bold
    :border-bottom = 1px dashed !contentHeaderBorder
    :margin
      :left 20px
      :bottom 5px
      :right 15px
    position: relative
    span
      :color = !lightGray
      font-size: .5em
      position: absolute
      right: 0px
      top: 13px
  .datatable
    border-collapse: collapse
    width: 100% !important
    font-size: 0.7em
    text-align: left
  table .image
    text-align: right
    width: 70px
    padding: 0
.content
  padding: 0 20px 20px
.content-background
  height: 0
  :border-top = 1px solid !contentHeaderBorder
.inner-content
  padding: 10px 20px
  p
    font-size: 0.7em
#page_title, #static_content_block_title, #carousel_title, 
#product_name,
#product_type_name,
#checkbox_option_name,
#picklist_option_name,
#radiobutton_option_name,
#text_option_name,
#longtext_option_name,
#number_option_name,
#date_option_name,
#url_option_name,
#tattribute_name,
#pack_name,
#media-title,
#menu_title,
#role_name,
#special_offer_title,
#transporter_name
  width: 670px
  height: 31px
  :padding-top 5px
  +left()
  :color = !orange
  font-size: 1.3em
  font-weight: bold
.block-container
  position: relative


