= simple_form_for :caching, :url => [forgeos_core, :admin, :cachings] do |f|
  =form_header do
    .big-header
      .form-actions
        = f.submit t('helpers.submit.caching.delete'), :class => 'btn btn-large btn-primary'
        = f.submit t('helpers.submit.caching.delete_all'), :class => 'btn btn-large btn-danger'
  #content
    .inner-content.files
      #caching-tree
