.jstree-categories
  li, ins
    background-color: transparent
  li
    &.jstree-last
      background: transparent
  .jstree-open > ins
    background: image_url("forgeos/jstree/themes/categories/brown-minus.png") 0px 3px no-repeat
  .jstree-closed > ins
    background: image_url("forgeos/jstree/themes/categories/brown-plus.png") 0 3px no-repeat
  .jstree-leaf > ins

  .jstree-hovered
    background-color: #FDD794
    color: #F16028
  .jstree-clicked
    background: #FDD794
    color: #F16028
  a
    color: #75491B
    font-size: 0.8em
    font-weight: bold
    padding-right: 10px
    .jstree-icon
      margin: 0
      background-image: image_url("forgeos/admin/big-icons-24-24-verti.png")
      background-repeat: no-repeat
      width: 25px
      background-position: 0 -273px
    &.jstree-loading .jstree-icon
      background: none
  &.jstree-focused
    background: transparent
  .jstree-no-dots
    li, .jstree-leaf > ins
      background: transparent
    .jstree-open > ins
      background-position: -18px 0
    .jstree-closed > ins
      background-position: 0 0
  .jstree-no-icons a .jstree-icon
    display: none
  .jstree-search
    font-style: italic
  .jstree-no-icons .jstree-checkbox
    display: inline-block
  .jstree-no-checkboxes .jstree-checkbox
    display: none !important
  .jstree-checked > a > .jstree-checkbox
    background-position: -38px -19px
  .jstree-unchecked > a > .jstree-checkbox
    background-position: -2px -19px
  .jstree-undetermined > a > .jstree-checkbox
    background-position: -20px -19px
  .jstree-checked > a > .jstree-checkbox:hover
    background-position: -38px -37px
  .jstree-unchecked > a > .jstree-checkbox:hover
    background-position: -2px -37px
  .jstree-undetermined > a > .jstree-checkbox:hover
    background-position: -20px -37px

.vakata-context.jstree-categories-contextmenu
  li
    a
      ins, span
        height: auto

#jstree-dragged.jstree-categories li li.open
  background: image_url("forgeos/jstree/themes/categories/brown-plus.png") 0 3px no-repeat

