//= require jquery.ui.all

@import compass/reset
@import compass_twitter_bootstrap_awesome
@import compass_twitter_bootstrap/font-awesome
@import compass_twitter_bootstrap_responsive
@import forgeos/jquery-ui/themes/bootstrap

=left()
  float: left !important
=block()
  display: block
=element_form_name()
  height: 31px
  padding-top: 5px
  color: $orange !important
  font-size: 1.3em
  font-weight: bold
=opacity($opacity)
  -ms-filter: alpha(opacity=#{$opacity*100})
  opacity: $opacity
