#menu, #submenu
  > li
    list-style: none
    ul
      li
        background: white
        background-image: none
        padding: 5px 10px
        border-top: 1px solid $white
        border-bottom: 1px solid $white
        border-left: none
        > a
          font-size: 12px
          font-weight: bold
          color: $darkGray
        &:hover
          background: $lightYellow
          border-color: $lightLightGray
        &:hover, &.current
          > a
            color: $darkGray

    > ul
      display: none
      > li
        &:hover
          ul
            display: block
            position: absolute
            margin-left: 90%
            margin-top: -1em
            z-index: 1000
            background: white
            box-shadow: 0 0 5px $darkGray
        ul
          display: none
      > li, > li.current
        > span.arrow
          +float-right
          color: transparent
          background: image_url("forgeos/admin/small-icons/right-arrow.png") no-repeat
          width: 16px
          height: 16px


    &:hover, &.current
      > a
        color: $white
      > span.arrow
        background: image_url("forgeos/admin/small-icons/white-arrow.png") no-repeat
    &:hover
      > ul
        display: block
        position: absolute
        z-index: 1000
        background: white
        box-shadow: 0 0 5px $darkGray
    &.current
      ul li, ul li:hover
        +border-radius(none)
        &:hover
          background: $lightYellow
          border-color: $lightLightGray
          > a
            color: $darkGray
  span.arrow
    +float-right
    color: transparent
    width: 16px
    height: 16px
  > li
    > span.arrow
      background: image_url("forgeos/admin/small-icons/darkgray-arrow.png") no-repeat


#submenu
  padding: 0 0 6px 0
  margin: 1em 0 0
  height: 20px
  > li
    padding: 0
    border-left: 1px solid $darkGray
    height: auto
    > a
      outline: 0
      color: $darkGray
      font-size: 0.8em
      padding: 0.4em
    &.first, &.next
      border: 0
    &.current
      background-color: $orange
      +border-radius(3px)

    > ul
      margin-top: 5px

#menu
  background-position: 0 -90px
  height: 41px
  padding: 0
  margin: 0
  > li
    background: image_url("forgeos/admin/borders/separator-menu.png") no-repeat left top
    padding: 10px
    height: 21px
    > a
      color: $darkGray
      text-decoration: none
      font-size: 1.2em
      outline: 0
    &.first
      background-image: none
    span.before-current, span.after-current
      +float-left
      height: 41px
      position: absolute
      top: 0
      width: 4px
    span.before-current
      background: transparent image_url("forgeos/admin/borders/separator-menu-left-on.png") no-repeat scroll right top
      left: -3px
    span.after-current
      background: image_url("forgeos/admin/borders/separator-menu-right-on.png") no-repeat left top
      right: -3px
    &.current
      background:
        image: image_url("forgeos/admin/backgrounds-verti.png") !important
        repeat: repeat-x
        position: 0 -951px
      position: relative
    > ul
      margin-top: 12px
      margin-left: -7px

.menu-bottom
  background-position: 0 -458px
  height: 1em
