- content_for :tools, link_to(I18n.t('list').capitalize, admin_medias_path, :class => 'house' )
- if media && !(media.new_record?)
  - content_for :tools do
    = link_to(I18n.t('show').capitalize, admin_media_path(media))
    = link_to(I18n.t('download').capitalize, download_admin_media_path(media), :popup => true)
    = link_to(I18n.t('destroy').capitalize, admin_media_path(media), :method => 'delete', :confirm => I18n.t('media.destroy.confirm').capitalize)
