#sidebar.span4
  .sidebar-content
    %h2
      %a.datatable-select-all{ :"data-tree-id" => tree_id }
        = i(icon)
        = t sidebar_title
    .category-tree{ :id => tree_id, "data-model_name" => model_name, "data-url" => url }
= render :partial => 'attachments_popups'
