#sidebar.span4
  .header
    .btn-group
      %a.btn
        %i.big-icons.new-category
        \&nbsp;
      %a.btn.dropdown-toggle{ 'data-toggle' => 'dropdown' }
        %span.caret
      %ul.dropdown-menu
        %li.big-icons.create-folder{ :"data-tree-id" => tree_id }=t 'folder.create'
  .backgrounds.sidebar-background
  .sidebar-content
    %h2
      = i(icon)
      %a.datatable-select-all{ :"data-tree-id" => tree_id }= t sidebar_title
    .category-tree{ :id => tree_id, "data-model_name" => model_name, "data-url" => url }
= render :partial => 'attachments_popups'
