- if rights.any?
  .fieldset
    %a.icon-panel{ :href => '#' }= title
    .option-panel-content
      .clear
      .multi-select-div
        %a{ :href => '#' }=t :select_all
        %a{ :href => '#' }=t :unselect_all
      - rights.each do |right|
        = label_tag "role[right_ids][]", :class => 'checkbox' do
          = check_box_tag "role[right_ids][]", right.id, (role ? role.rights.include?(right) : false)
          = right.name
      .clear
