:ruby
  view = index_view :legal, forgeos_core, Forgeos::Right, [
    { :bSearchable => false, :bSortable => false},
    { :sTitle => t(:name) },
    { :sTitle => t(:controller_name) },
    { :sTitle => t(:action_name) },
    { :sClass => 'actions-td', :bSearchable => false, :bSortable => false }
  ], { :class => 'btn create-right' }
= view
