- Forgeos::AttachableTypes.each do |type|
  %li
    %h3
      =t "activerecord.models.#{type.underscore}"
      \:

    - elements = attachment.attachment_links.collect{ |sp| sp.attachable if sp.attachable.kind_of?(type.camelize.constantize)}.compact
    - unless elements.nil? or elements.empty?
      %ul.no-list-style-type
        - elements.each do |element|
          %li
            = render :partial => "admin/associated_elements/show_#{type.underscore}", :locals => { :element => element }
