- unless @attachments.empty?
  %ul.attachment_list
    - @attachments.each do |p|
      %li.attachment_list{:id => p.id}
        - if p.kind_of?(Forgeos::Picture)
          .thumbs
            - p.file.versions.merge(:original => p.file).each do |thumb_name, thumb_url|
              = link_to thumb_name, thumb_url.url, :title => p.name, :class => 'tiny-mce select-thumb'
              %br

            %a.tiny-mce.cancel-image X
          = link_to image_tag(p.file.url, :alt => p.name ), '#', :class => 'tiny-mce select-image'
        - else
          = link_to p.name, p.file.url, :class => 'tiny-mce select-thumb'
          \&nbsp;&nbsp;&nbsp;
  %br{:style => "clear:both;"}/
  %div{:style => "float:right;margin-bottom:10px;"}
    = paginate @attachments, :remote => true
- else
  No Image Uploaded Yet.
