:ruby
  icon = t(:bootstrap_icon, :scope => @file_type)

  view = index_view icon, forgeos_core, @attachment_class, [
      { :sClass => 'image_product_td', :bSortable => false },
      { :sTitle => t('name') },
      { :sTitle => t('type') },
      { :sTitle => t('attachment.updated_at') },
      { :sTitle => t('attachment.size') },
      { :bVisible => false, :sTitle => t('attachment.used') },
      { :bSortable => false, :bSearchable => false, :sClass => 'actions-td' },
      { :bVisible => false },
      { :bVisible => false },
      { :bVisible => false }
  ], { :id => 'add-attachment', "data-callback" => 'refresh_after_file_upload' }
= view
= render :partial => 'attachments_popup', :locals => {:klass => @attachment_class}
